.main {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 30em;
  padding-right: 30px;
}

.view {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.view__label {
  display: block;
  width: 300px;
}

ul li {
  list-style: none;
  align-self: center;
  padding: .5em;
}

li.selected {
  background-color: #CFD8DC;
  color: white;
}

li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

input {
  float: left;
  cursor: pointer;
}


label {
  cursor: pointer;
}

button {
  float: right;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  background-color: lightgrey;
  cursor: pointer;
}
