<div class="main" *ngIf="todos && todos.length > 0">
  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.complete"  [class.selected]="todo === selectedTodo" (click)=onSelect(todo)>
      <div class="view">
        <input class="toggle" type="checkbox" (click)="onToggleTodoComplete(todo)" [checked]="todo.complete">
        <label class="view__label">{{todo.title}}</label>
        <button class="destroy" (click)="onRemoveTodo(todo)">delete</button>
      </div>
    </li>
    <div *ngIf="selectedTodo">
      <app-todo-editor [title]="selectedTodo.title" [selectedTodo]="selectedTodo" (edit)=onEditTodo($event)></app-todo-editor>
    </div>
  </ul>
</div>
