h1 {
  text-align: center;
}

.new-todo {
  margin: 0 auto;
  width: 25em;
  height: 2em;
  display: block;
  border: 3px solid #9E9E9E;
  color: #000000;
  font-size: large;
  background: #FFF;
  border-radius: 5px;
}
